<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925651145449-rts0bsum81flcpak73adi5jdktvh80ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925651145449-rts0bsum81flcpak73adi5jdktvh80ak</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rlTMaI_gre7MsZC17D1EG7jfyaP9HHI</string>
	<key>GCM_SENDER_ID</key>
	<string>925651145449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notes.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-jg</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-jg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925651145449:ios:32531294643c973d1dd678</string>
</dict>
</plist>